<p id="notice"><%= notice %></p>

<body>


  <section id="description">
    <div >
      Thanks! We'll see you soon!
    </div>
    <img src="/images/kumpear-gif.gif" width="300px">
    <h3><%= link_to 'Back', new_user_path %></h3>
  </section>


</body>
