/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
 	margin: 0;
 	padding: 0;
 	font-family: 'Roboto', sans-serif;
 	font-weight: 300;
 }

 #intro {
  padding-top: 5%;
 	padding-bottom: 10%;
 	width: 100%;
 	background: #eff495;
 	float: left;
  text-align: center;
 }

 #description {
 	text-align: center;
 	padding: 0 15% 0 15%;
 	float: left;
 	font-size: 25px;
 	line-height: 35px;
 	color: #f47942;
 	margin: 50px 0;
 }

 header {
 	width: 100%;
 	height: auto;
 	display: inline-block;
 	text-align: center;
 	margin-top: 5%;
 }

 #signup {
 	width: 60%;
 	margin: 30px auto;

 }

 #signup .field {
 	background: #FFF;
 	float: left;
 	width: 30%;
 	height: 40px;
 	display: block;
 	margin: 10px;
 	color: #lightgray;
  font-size: 20px;
  font-weight: 300;
 }

 #signup .button {
 	width: 30%;
 	height: 40px;
 	background: #f47942;
 	border: none;
 	color: #FFF;
 	margin: 10px;
 	padding: 0;
  font-size: 20px;
  font-weight: 300;
 }

 #orange {
 	background: #f47942;
 	padding: 5% 0 5% 0;
 	height: auto;
 	display: inline-block;
 	width: 100%;
  text-align: center;
 }

#orange img {
  margin: 10px;
}
 #orange .screen {
 	float: left;
 	width: 40%;
 	margin: 50px auto;
 	text-align: center;
 }

 #orange .email {
 	float: left;
 	font-size: 25px;
 	line-height: 35px;
 	color: #FFF;
 /*	text-align: center;
 */	margin-top: 50px;
 	width: 50%;
 	margin-right: 10%;

 }

 footer {
 	background: #f47942;
 	text-align: center;
 	padding: 20px 0 20px 0;
 	margin: 0;
 	color: #FFF;
 	float: left;
 	width: 100%;
 	font-weight: 300;
 }
